NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_APP_URL=http://localhost:3000
ADMIN_EMAILS=

# Cloudinary (Medios y fotos)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=

# Clip Payments (Pasarela de Pago México/LatAm)
CLIP_SECRET_KEY=
CLIP_API_KEY=
NEXT_PUBLIC_CLIP_PAYMENT_LINK=
NODE_ENV=development
