NEXT_PUBLIC_SUPABASE_URL=https://your-supabase-id.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
NEXT_PUBLIC_APP_URL=https://vexorasites.shop
ADMIN_EMAILS=vexoralabsmx@gmail.com

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=khxvbeau
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=vexorasites

# Clip Payments
CLIP_SECRET_KEY=
CLIP_API_KEY=
NEXT_PUBLIC_CLIP_PAYMENT_LINK=
